<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="winZLR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <winZLR.Properties.Settings>
            <setting name="ShowSyntaxHighlighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchPaths" serializeAs="String">
                <value />
            </setting>
            <setting name="ConsoleZLRPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UnZPath" serializeAs="String">
                <value />
            </setting>
        </winZLR.Properties.Settings>
    </userSettings>
</configuration>